body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/
div {
    height: 100px;
    width: 50px;

}

body {
    background-color: lightblue;
  }

  